.create-contact-main {
  width: 50%;
  background-color: rgb(244, 221, 130);
  left: 25%;
  position: fixed;
  padding: 10px;
  z-index: 20;
  box-shadow: 3px 3px 3px rgb(49, 48, 48);
  border-radius: 20px;
}
@media only screen and (min-width: 580px) and (max-width: 910px) {
  .create-contact-main {
    width: 80%;
    left: 10%;
  }
}
@media only screen and (max-width: 579px) {
  .create-contact-main {
    width: 100%;
    left: 0%;
  }
}
