.signin {
  color: black;
}
.signup {
  color: black;
}
.forgot-outer-div1 {
  position: relative;
  left: 25%;
  width: 50%;
  margin-top: 2vh;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 3px 3px 3px rgb(49, 48, 48);
  background-color: gray;
  animation-name: forgot-slider;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes forgot-slider {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 350px) {
  .forgot-outer-div1 {
    left: 10%;
    width: 80%;
    animation-name: forgot-slider2;
    animation-duration: 2s;
    animation-iteration-count: 1;
  }
}

@keyframes forgot-slider2 {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@media only screen and (max-width: 349px) {
  .forgot-outer-div1 {
    width: 100%;
    left: 0%;
    animation: none;
  }
}
