.home-first {
  color: red;
  text-align: center;
  font-size: 8vh;
}
.home-second {
  margin-top: 5vh;
  font-size: 5vh;
}
.home-fourth {
  margin-top: 5vh;
  font-size: 5vh;
}
.home-sixth {
  margin-top: 5vh;
  font-size: 5vh;
}
