.mainscreen {
  min-height: 10vh;
  /* display: flex; */
  padding: 3vh 0;
  /* background-color: red; */
}
.page {
  width: 100%;
}
.heading {
  font-size: 10vh;
  padding: 2vh 2vw;
}
@media only screen and (max-width: 600px) {
  .heading {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
}
